.formularioContainer {
  text-align: center;
  margin-top: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario label {
  font-size: 18px;
  margin-bottom: -30px;
}

.formulario input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #45a049;
}

.paginaCentralizada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tituloCentralizado {
  text-align: center;
}

.cartaoEventoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cartaoEvento {
  width: 30%;
  margin: 10px;
}

.cartaoEventoContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões mudem para a próxima linha se não couberem na largura total da tela */
}

.cartaoEvento {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px; /* Adiciona algum espaço entre os cartões */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px; /* Define uma largura fixa para cada cartão (ajuste conforme necessário) */
}

.cartaoEvento h3 {
  margin-top: 0;
}

.cartaoEvento h2 {
  text-align: center;
  font-size: 1.5em;
}

.cartaoEvento img {
  max-width: 100%;
  height: auto;
  margin-top: 8px;
}

.cartaoEvento p {
  margin: 8px 0 0;
}